@inherits LayoutComponentBase

<NavMenu />

<main>
    @Body
</main>

<footer class="site-footer">
    <p>
        &copy; @DateTime.Now.Year Becca Lloyd-Jenkins &nbsp;&middot;&nbsp;
        <a href="mailto:beccamaedesigns@outlook.com">beccamaedesigns@outlook.com</a>
        &nbsp;&middot;&nbsp; Shropshire, UK
    </p>
</footer>
